<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/checkout.css">
</head>
<body>
  <header>
    <div >
     <a href="/"><img class="logo" src="/public/images/logo.png" alt="logo do site"></a>
        <span> <a href=""><img class="idioma-icon" src="/public/images/icone idiomas.png" alt="icone idioma"></a>
            <select name="categoria" class="categoria-opcao">
                <option value="teste1"></option>
                <option value="teste1">Portugues</option>
                <option value="teste2">Ingles</option>
                <option value="teste2">Espanhol</option>
                <option value="teste3">Hidi</option>
                <option value="teste3">Grego</option>
            </select>
        </span> 
  </div>
  </header>
  <main >
    <div class="banner-promocao">
      <img src="/public/images/arrow-icon.png" alt="" class="arrow-left">
      <img src="/public/images/banner-promocao.jpg" alt="" class="banner">
      <img src="/public/images/arrow-icon.png" alt="" class="arrow-right">
  </div>
    <div class="cartao">
        <a href=""><img src="/public/images/kisspng-badeiracartoes.png" alt="cartoes badeiras" class="cartoesBandeiras"></a>
<div class="resumo"> 
  <h3 class="resumotopo">   Resumo Compra</h3>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
   when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    It has survived not only five centuries, but also the leap into electronic typesetting, 
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset,
     sheets containing Lorem Ipsum passages, and more recently with desktop publishing.
      software like Aldus .
<h3 class="total">total = R$2000,00</h3>
</div>

  </div>
  <div class="dadosConfirmacaoAnuncio">
    <div class="dados">
      <div class="nomepaginaDados"><p>Dados do comprador</p></div>
      <div class="numerocartao">
        <p>Numero do cartão</p>
       <span><input  type="text" placeholder="" size="60px">
                 </span>
      </div>
      <div class="codigoseguranca">
        <p>Codigo de segurança</p>
        <span><input  type="text" placeholder="" size="15px">
                  </span>
                </div>
       <div class="Nometitular">
        <p>Nome do titular</p>
        <span> <input  type="text" placeholder="" size="70px">
                  </span>
                </div>  
       <div class="validade">
        <p>Validade do Cartão</p>
        <span> 
          <input  type="text" placeholder="" size="8px" >
          <input  type="text" placeholder="" size="8px">
                  </span>

       </div>  
       <div class="numeroparcela">
        <p>Numero de Parcelas</p>
        <span> 
          <select name="categoria" class="categoria-opcao">
            <option value="teste1">1</option>
            <option value="teste1">2</option>
            <option value="teste1">3</option>
            <option value="teste2">4</option>
            <option value="teste2">6</option>
            <option value="teste3">8</option>
            <option value="teste3">10</option>
            <option value="teste2">12</option>
            <option value="teste2">14</option>
            <option value="teste3">16</option>
            <option value="teste3">18</option>
            <option value="teste3">20</option>
            <option value="teste2">22</option>
            <option value="teste2">24</option>
            <option value="teste3">26</option>
            <option value="teste3">28</option>
        </select>
         
                  </span>

       </div>  
       <div class="cpfTitular">
        <p>CPF Titular</p>
        <span> 
          <input  type="text" placeholder="" size="24px" >
          
                  </span>

       </div>                              

    </div>
    <div class="anuncios">
      <marquee>Produtos vistos em promoção!</marquee>
      <div class="caixa-produto-descricao">
        <img class="imagem-produto-bloco2" src="/public/images/products/celulares5.png" alt="">
        <span class="descricao-produto-segundo-bloco">
            Monitor Gamer, ótimo balanceamento de cores e alta taxa de resposta, perfeito para jogar jogos em
            60fp/s.
            <p class="preco-produto-depois">Por R$ 789,89</p>
        </span>
    </div>
    
    </div>
    <div class="confirmacao">
      <div class="nomepaginaconfirmacao"><p>Corfimação Endereço e Dados pessoais</p></div>
<div class="dadosconfirmacao">
  <span class="cep"> <h4>CEP</h4>
  <p>86809987</p>
  </span>
<span class="bairro">
  <h4>Bairro</h4>
  <p>Neque porro quisquam est qui</p>
</span> 
<span class="rua"> 
  <h4>Rua</h4>
  <p>consectetur adipiscing elit</p>
</span> 
<span class="numero">
  <h4>Numero</h4>
  <p>411</p>
</span>
<span class="complemento">
  <h4>complemento</h4>
  <p>Sed ut perspiciatis unde omnis iste natus error</p>
</span>
<span class="nomesobre">
  <h4>Nome</h4><h4>Sobrenome</h4>
  <p>Lorem</p><p>Ipsum dolor</p>
</span>
<span class="CpF">
  <h4>CPF</h4>
  <p>24542656887</p>
</span>
</div>
<div class="resumoCompra">
  <h4>Resumo compra</h4>
  <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
     nisi ut aliquid ex ea commodi consequatur?
      Quis autem vel eum iure reprehenderit qui in ea voluptate velit
       esse quam nihil molestiae consequatur, 
       vel illum qui dolorem eum fugiat quo voluptas 
       nulla pariatur</p>
  <h4>R$2000,00</h4>
</div>
    </div>

<div class="anuncios2">
  <marquee>Produtos vistos em promoção!</marquee>
  <div class="caixa-produto-descricao">
    <img class="imagem-produto-bloco" src="/public/images/products/produto14.png" alt="">
    <span class="descricao-produto-segundo-bloco">
        Smartphoe Motorola G27 Plus
        <p class="preco-produto-depois">por R$ 1.809,89</p>
        </span>
    </div>
</div>

</div>
  

  </div>

  </main>

</body>

    <footer class="footer">
      <div>
          <img class="logo-footer" src="/images/home/logo.png" alt="">
      </div>
      <div class="opcoes-footer">
          <p class="opcao-titulo"><strong>Início</strong></p>
          <p class="opcao-footer">Home</p>
          <p class="opcao-footer">Categorias</p>
          <p class="opcao-footer">Cadastro de usuário</p>
      </div>
      <div class="opcoes-footer">
          <p class="opcao-titulo"><strong>Sobre-nós</strong></p>
          <p class="opcao-footer">Missão</p>
          <p class="opcao-footer">Quem somos</p>
          <p class="opcao-footer">Blog</p>
          <p class="opcao-footer">Contato</p>
      </div>
      <div class="opcoes-footer">
          <p class="opcao-titulo"><strong>Suporte</strong></p>
          <p class="opcao-footer">FAQ</p>
          <p class="opcao-footer">Telefones</p>
          <p class="opcao-footer">Chat online</p>
          <p class="opcao-footer">Reclame Aqui</p>
      </div>
      <div class="rede-sociais-footer">
          <span>
              <img src="/images/home/facebook-icon.png" alt="" class="redesocial-icon">
              <img src="/images/home/wpp-icon.png" alt="" class="redesocial-icon">
              <img src="/images/home/insta-icon.png" alt="" class="redesocial-icon">
              <img src="/images/home/twitter-icon.png" alt="" class="redesocial-icon">
          </span>
          <p>
              <button class="butao-contato-footer">Contato</button>
          </p>
      </div>
  </footer>
  
</html>